<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= title %></title>

    <!-- <link -->
    <!--   rel="stylesheet" -->
    <!--   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0&#45;alpha.2/css/bootstrap.min.css" -->
    <!--   integrity="sha384&#45;y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" -->
    <!--   crossorigin="anonymous" -->
    <!-- /> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
